.content {
  width: 100%;
}
main {
  position: relative;
  width: 100%;
}

.content--fixed {
  position: fixed;
  z-index: 10000;
  top: 16px;
  display: grid;
  pointer-events: none;
  justify-content: center;
  a {
    pointer-events: auto;
    text-decoration: none;
    color: var(--color-link);
    outline: none;
    &:focus &:hover {
      color: var(--color-link-hover);
      outline: none;
    }
    .demo--current {
      pointer-events: none;
    }
  }
}

.demos {
  position: relative;
  display: block;
  align-self: end;
  text-align: center;
  grid-area: demos;
  .icon {
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: 0 auto;
    fill: currentColor;
  }
  .demo {
    margin: 0 0.15em;
    &:focus {
      opacity: 0.5;
    }
    &:hover {
      opacity: 0.5;
    }
    span {
      white-space: nowrap;
      text-transform: lowercase;
      pointer-events: none;
      &::before {
        content: "#";
      }
    }
  }
}

@media screen and (min-width: 13em) {
  .demos {
    display: flex;
    justify-self: end;
  }
  .demo {
    display: block;
    width: 17px;
    height: 17px;
    margin: 0 4px;
    border-radius: 50%;
    background: var(--color-link);
  }
  a.demo--current {
    background: var(--color-link-hover);
  }
  .demo span {
    line-height: 1;
    position: absolute;
    right: 100%;
    display: none;
    margin: 0 1em 0 0;
  }
  .demo--current span {
    display: block;
  }
}

@media screen and (max-width: 55em) {
  body {
    padding: 0 0 4em 0;
  }
  .content {
    flex-direction: row;
    justify-content: center;
  }
  // .content--fixed {
  //   position: relative;
  //   z-index: 1000;
  //   display: block;
  //   padding: 0.85em;
  // }
  .slide__desc {
    font-size: 1em;
  }
  .slide__link {
    font-size: 0.85em;
  }
}

.demo-1 {
  --color-text: #000;
  --color-bg: #f1f1f1;
  --color-link: #000;
  --color-link-hover: #0e54c1;
  --color-stitle: #000;
  --fontsize-stitle: 12vw;
  --color-sdesc: #000;
  --color-slink: #000;
  --color-slink-hover: #000;
  --color-slink-bg: #fff;
  --color-slink-hover-bg: #0e54c1;
  --color-nav: #000;
  --color-nav-hover: #0e54ca;
}

.demo-2 {
  --color-text: #fff;
  --color-bg: #000;
  --color-link: #fff;
  --color-link-hover: #37dbff;
  --color-stitle: #eaff68;
  --fontsize-stitle: 12vw;
  --color-sdesc: #fff;
  --color-slink: #f1f1f1;
  --color-slink-hover: #000;
  --color-slink-bg: #000;
  --color-slink-hover-bg: #37dbff;
  --color-nav: #f1f1f1;
  --color-nav-hover: #37dbff;
}

.demo-3 {
  --color-text: #fff;
  --color-bg: #333;
  --color-link: #fff;
  --color-link-hover: #ed4264;
  --color-stitle: #f1f1f1;
  --fontsize-stitle: 12vw;
  --color-sdesc: #f1f1f1;
  --color-slink: #f1f1f1;
  --color-slink-hover: #f1f1f1;
  --color-slink-bg: #000;
  --color-slink-hover-bg: #ed4264;
  --color-nav: #ed4264;
  --color-nav-hover: #000;
}

.demo-4 {
  --color-text: #000;
  --color-bg: #f1f1f1;
  --color-link: #000;
  --color-link-hover: #74c3d0;
  --color-stitle: #000;
  --fontsize-stitle: 8vw;
  --color-nav: #74c3d0;
  --color-nav-hover: #000;
}

.demo-5 {
  --color-text: #fff;
  --color-bg: #576267;
  --color-link: #000;
  --color-link-hover: #da281b;
  --color-stitle: #000;
  --fontsize-stitle: 12vw;
  --color-sdesc: #f1f1f1;
  --color-slink: #f1f1f1;
  --color-slink-hover: #f1f1f1;
  --color-slink-bg: #000;
  --color-slink-hover-bg: #da281b;
  --color-nav: #f1f1f1;
  --color-nav-hover: #da281b;
}

.demo-6 {
  --color-text: #fff;
  --color-bg: #020202;
  --color-link: #fff;
  --color-link-hover: #415bf8;
  --color-stitle: #f1f1f1;
  --fontsize-stitle: 12vw;
  --color-nav: #fff;
  --color-nav-hover: #415bf8;
}
